<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server</key>
	<string>http://125.64.14.199:8080/vgoService</string>
	<key>global</key>
	<dict/>
	<key>communication</key>
	<dict>
		<key>protocol</key>
		<string>HTTP</string>
		<key>method</key>
		<string>POST</string>
		<key>responseType</key>
		<string>JSON</string>
		<key>timeOut</key>
		<integer>10</integer>
	</dict>
	<key>localCache</key>
	<dict>
		<key>isActive</key>
		<true/>
		<key>cachePath</key>
		<string>localCache</string>
		<key>subResourcePath</key>
		<string>resources</string>
		<key>subDataPath</key>
		<string>localData</string>
		<key>expireTime</key>
		<integer>0</integer>
	</dict>
	<key>interface</key>
	<dict>
		<key>userLogin</key>
		<dict>
			<key>url</key>
			<string>/user/login.go</string>
			<key>params</key>
			<dict/>
		</dict>
		<key>busiNews</key>
		<dict>
			<key>url</key>
			<string>/busi/share/find.go</string>
			<key>params</key>
			<dict/>
		</dict>
		<key>updateToken</key>
		<dict>
			<key>url</key>
			<string>/busi/device/updateToken.go</string>
			<key>params</key>
			<dict/>
		</dict>
	</dict>
	<key>localMenu</key>
	<dict>
		<key>menu</key>
		<array/>
		<key>subMenu</key>
		<array/>
	</dict>
</dict>
</plist>
